.footer {
    height: 88px;
    background-color: rgb(60, 188, 152);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
 
   padding: 0 30px;
}

.footer-icon-link {
display: flex;
align-items: center;
gap: 15px;

height: 80px;
}
 
.footer-icon-link svg {
width: 50px;
height: 50px;
}

.footer-icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.person-link-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}